.fr {
  float: right;
}
.fl {
  float: left;
}
.textCenter {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
/*-------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #fff;
}
body {
  overflow: hidden;
}
.left-column,
.right-column,
.middle-column {
  float: left;
  height: 100vh;
  padding: 30px 10px;
}
.middle-column::-webkit-scrollbar {
  width: 0 !important;
}
.left-column::-webkit-scrollbar {
  width: 0 !important;
}
.right-column::-webkit-scrollbar {
  display: none;
}
.portfolio_description::-webkit-scrollbar {
  width: 0 !important;
}
/*-------------------------------------------*/
/*left*/
/*-------------------------------------------*/
.left-column {
  width: 20%;
  -ms-overflow-style: none;
  overflow-y: scroll;
  border-right: 2px #f2f2f2 solid;
  text-align: center;
}
.left-column h1 {
  margin: 0;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.left-column h1 a {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../img/hy_logo.png);
  margin: 0 auto;
}
.left-column nav {
  margin-top: 70px;
}
.left-column nav ul li {
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 15px;
  list-style: none;
}
.left-column nav ul li a {
  text-decoration: none;
  color: #000;
}
.left-column .contact-information {
  margin: 180px 0;
}
.left-column .contact-information ul li {
  font-size: 17px;
  list-style: none;
  padding-top: 20px;
  text-transform: uppercase;
}
.left-column .contact-information ul li:first-child {
  text-transform: capitalize;
}
.left-column .contact-information ul li:nth-child(2) {
  text-transform: none;
}
.left-column .contact-information ul li:last-child {
  text-transform: none;
  width: 240px;
  margin: 0 auto;
  line-height: 23px;
}
/*-------------------------------------------*/
/*middle*/
/*-------------------------------------------*/
.middle-column {
  width: 30%;
  text-align: center;
  -ms-overflow-style: none;
  overflow-y: scroll;
  border-right: 2px #f2f2f2 solid;
}
.middle-column h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.middle-column .content {
  width: 96%;
  padding: 15px 2%;
}
.middle-column .content a {
  display: block;
  margin-top: 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
}
.middle-column .content a:visited,
.middle-column .content a link {
  color: #000;
}
.middle-column .content p {
  font-size: 17px;
  text-align: justify;
  line-height: 32px;
}
.middle-column img {
  width: 300px;
}
/*-------------------------------------------*/
/*right*/
/*-------------------------------------------*/
.right-column {
  width: 48%;
  text-align: center;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
.right-column h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.right-column ul li {
  text-align: center;
  overflow: hidden;
  padding: 13px 0 ;
  width: 65%;
  margin: 0 auto;
}
.right-column ul li img {
  width: 100%;
  height: auto;
}
.right-column ul li span {
  display: block;
  margin: 10px auto 10px auto;
  line-height: 19px;
  width: 98%;
  padding: 0 1%;
}
.right-column ul li a {
  font-size: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
}
.right-column ul li a:visited,
.right-column ul li a active {
  color: #000;
}
.right-column ul li:first-child {
  padding-top: 25px;
}
.main-contents {
  float: left;
  width: 80%;
}
/*-------------------------------------------*/
/*about me*/
/*-------------------------------------------*/
.about_me {
  margin-top: 10px;
  margin-left: 2%;
  width: 78%;
  float: left;
}
.about_me:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.about_me section {
  width: 100%;
  padding: 30px 0;
}
.about_me section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.about_me .title {
  width: 20%;
  float: left;
}
.about_me .title h2 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}
.about_me .contents {
  width: 70%;
  float: left;
}
.about_me .contents p {
  font-size: 16px;
  line-height: 29px;
}
.about_me .section-skill .contents .box {
  width: 24%;
  float: left;
  margin-left: 1%;
}
.about_me .section-skill .contents .box h3 {
  text-transform: capitalize;
  font-weight: 500;
}
.about_me .section-skill .contents .box h3 i {
  font-size: 20px;
}
.about_me .section-skill .contents .box ul {
  padding-top: 10px;
  padding-left: 20px;
}
.about_me .section-skill .contents .box ul li {
  padding: 10px 0;
  font-size: 17px;
  text-transform: capitalize;
}
/*-------------------------------------------*/
/*portfolio description*/
/*-------------------------------------------*/
.portfolio_description {
  float: left;
  height: 100vh;
  -ms-overflow-style: none;
  overflow-y: scroll;
  width: 80%;
  margin-top: 40px;
}
.portfolio_description:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.portfolio_description h2 {
  text-transform: uppercase;
  text-align: center;
}
.portfolio_description > span {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #777;
}
.portfolio_description ul.portfolio_wrapper {
  width: 100%;
  margin-top: 15px;
  margin-left: 2%;
}
.portfolio_description ul.portfolio_wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.portfolio_description ul.portfolio_wrapper > li {
  width: 48%;
  padding: 15px 2%;
  list-style: none;
  vertical-align: top;
  display: inline-block;
}
.portfolio_description ul.portfolio_wrapper > li:nth-child(3) {
  padding-top: 30px;
}
.portfolio_description ul.portfolio_wrapper > li:nth-child(4) {
  padding-top: 30px;
}
.portfolio_description ul.portfolio_wrapper > li img {
  width: 100%;
  height: auto;
}
.portfolio_description ul.portfolio_wrapper > li span {
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  display: block;
  width: 100%;
  color: #000;
  margin-top: 10px;
}
.portfolio_description ul.portfolio_wrapper > li a {
  text-decoration: none;
  color: #342291;
}
.portfolio_description ul.portfolio_wrapper > li ul {
  margin-top: 20px;
}
.portfolio_description ul.portfolio_wrapper > li ul li {
  margin-bottom: 5px;
  display: inline-block;
  padding: 3px 12px;
  border: 1px #000 solid;
  text-transform: capitalize;
}
/* ====max-width768px====*/
@media screen and (max-width: 1024px) {
  body {
    position: relative;
    padding-bottom: 300px;
    overflow-y: visible;
  }
  .left-column,
  .right-column,
  .middle-column,
  .about_me,
  .portfolio_description {
    float: none;
    width: 100%;
    height: 100%;
  }
  .left-column {
    border-right: none;
  }
  .left-column h1 {
    float: left;
  }
  .left-column nav {
    margin-top: 30px;
    float: right;
  }
  .left-column nav ul li {
    padding: 0 20px;
    display: inline-block;
  }
  .left-column .contact-information {
    margin: 50px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .about_me {
    margin-left: 0;
  }
  .about_me section {
    width: 96%;
    margin: 0 auto;
    padding: 0 2% 50px 2%;
  }
  .about_me .title {
    width: 100%;
    text-align: center;
  }
  .about_me .contents {
    width: 98%;
    margin: 0 1%;
    margin-top: 30px;
  }
  .about_me .section-skill .contents {
    width: 86%;
    margin: 0 10%;
  }
  .about_me .section-skill .contents .box {
    width: 49%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .about_me .section-skill .contents .box:nth-child(3) {
    clear: both;
  }
  .about_me .section-skill .contents .box:nth-child(even) {
    padding-left: 10%;
  }
  .portfolio_description {
    overflow: visible;
    margin-top: 20px;
  }
  .portfolio_description h2 {
    margin-left: 0;
  }
  .portfolio_description span {
    margin-left: 0;
  }
  .portfolio_description ul.portfolio_wrapper {
    text-align: center;
    margin-left: 0;
  }
  .portfolio_description ul.portfolio_wrapper > li {
    width: 96%;
    margin: 0 auto;
    padding: 20px 2%;
  }
  .portfolio_description ul.portfolio_wrapper > li ul {
    text-align: left;
  }
  .right-column ul li {
    width: 98%;
    padding: 20px 1%;
  }
  .right-column ul li:last-child {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .about_me .section-skill .contents {
    text-align: center;
  }
  .about_me .section-skill .contents .box {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .about_me .section-skill .contents .box:nth-child(even) {
    padding-left: 0;
  }
}
