/*-------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------*/
*{
    margin:0;
    padding:0;
    .box-sizing;
}

body,html{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    .box-sizing;
    font-size: 15px;
}

.left-column,.right-column,.middle-column{
    .fl;
    height:100vh;
    padding:30px 10px;
}
.middle-column::-webkit-scrollbar { width: 0 !important }
.left-column::-webkit-scrollbar { width: 0 !important }
.right-column::-webkit-scrollbar {
 display: none;
}

/*-------------------------------------------*/
/*left*/
/*-------------------------------------------*/
.left-column{
    width:20%;
    -ms-overflow-style: none;
    overflow-y: scroll;
    .textCenter;
    nav{
        ul{
            li{
                .uppercase;
                font-size: 17px;
                padding-top:15px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    .contact-information{
        margin: 50px 0;
        ul{
            li{
                font-size: 17px;
                list-style: none;
                padding-top:20px;
                .uppercase;
                &:first-child{
                    text-transform:capitalize;
                }
                &:nth-child(2){
                    text-transform:none;
                }
            }
        }
    }
}

/*-------------------------------------------*/
/*middle*/
/*-------------------------------------------*/
.middle-column{
    width:30%;
    .textCenter;
    border-left:1px #f2f2f2 solid;
    border-right:1px #f2f2f2 solid;
    h2{
        font-size: 18px;
        font-weight: 500;
        text-transform:uppercase;
    }
    .content{
        padding:25px;
        
        a{
            .uppercase;
            text-decoration: underline;
        }
        p{
            font-size: 17px;
            text-align:justify;
            line-height: 32px;
        }
    }
    img{
        width:300px;
    }
    
}

/*-------------------------------------------*/
/*right*/
/*-------------------------------------------*/
.right-column{
    width:48%;
    .textCenter;
    h2{
        font-size: 18px;
        font-weight: 500;
        text-transform:uppercase;
    }
    -ms-overflow-style: none;
    overflow-y: scroll;
      ul{
            li{
                .textCenter;
                overflow: hidden;
                padding-top:25px;
                img{
                    width:500px;
                    height:300px;
                }
                span{
                    display:block;
                    width:400px;
                    margin:10px auto 10px auto;
                    line-height:19px;
                }
                a{
                    font-size: 100%;
                    .uppercase;
                    text-decoration:underline;
                    color:#000;
                    &:visited,active{
                        color:#000;    
                    }
                }
            }
            li:first-child{
                padding-top: 10px;
            }
        }
}

.main-contents{
    float:left;
    width:80%;
} 

/*-------------------------------------------*/
/*about me*/
/*-------------------------------------------*/
.about_me{
    margin-top: 10px;
    .clearfix();
    width:80%;
    float:left;
    section{
       .clearfix();
       padding:30px 0;
    }
    .title{
        width:20%;
        float:left;
        h2{
            .uppercase;
            font-size: 21px;
            font-weight: 600;
            
        }
    }
    .contents{
        width:70%;
        float:left;
        p{
            font-size: 16px;
            line-height:24px;
        }
    }
    .section-skill{
        .contents{
            .box{
                width:24%;
                float:left;
                margin-left: 1%;
                h3{
                text-transform: capitalize;
                font-weight: 500;
                    i{
                    font-size: 20px;
                    }
                }
                ul{
                    padding-top: 10px;
                    padding-left: 20px;
                    li{
                        padding:10px 0;
                        font-size: 17px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

/*-------------------------------------------*/
/*portfolio description*/
/*-------------------------------------------*/
.portfolio_description{
    float:left;
    .clearfix();
    width:80%;
    margin-top: 20px;
    h2{
        .uppercase;
        .textCenter;
        margin-left: -40px;
    }
    span{
        width:100%;
        .textCenter;
        display: block;
        margin-left:-20px;
       margin-top:10px;
        color:#777;
    }

    ul.portfolio_wrapper{
        .clearfix();
        >li{
            padding:20px;
            width:48%;
            padding-left: 2%;
            list-style: none;
            vertical-align: top;
            display: inline-block;
            img{
                width:500px;
                height:auto;
            }
            span{
                font-size: 16px;
                line-height: 21px;
                text-align: left;
                margin: 0;
                color:#000;
            }
            a{
                text-decoration: none;
                color: #342291;
                }
            ul{
                margin-top: 20px;
                li{
                    margin-bottom: 5px;
                    display: inline-block;
                    padding: 3px 12px;
                    border:1px #000 solid;
                    text-transform: capitalize;
                }
                
            }
        }
    }
}